.pagebg{
  background-color: #401111;
}


.container {
  max-width: 1200px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap:2px;


  @media (max-width: 480px) {
    padding: 0.1rem;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    padding: 1.25rem;
  }

 
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 1.5rem;
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    padding: 2rem;
  }

  @media (min-width: 1441px) {
   
    max-width: 1400px;
  }
}


.heading {
  text-align: center;
  margin-bottom: 2rem;
  background-color: #000a0a;
    color: #dbbb2c;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  // margin: 10px;

  // Base size
  font-size: 20px; 

  @media (max-width: 480px) {
    font-size:26px;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    font-size:18px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 22px;
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 28px;
  }

  @media (min-width: 1441px) {
    font-size: 38px;
  }
}


.container {
  margin: 3rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 3%;
}

// result component scss
.resultvalue {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:10%;
  color:#000;
  
  p{
    text-align: center;
  font-weight: bold;
  font-size: 30px;
      padding: 2px;
  @media (max-width: 480px) {
    font-size:12px;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 14px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 16px;
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 25px;
  }

  @media (min-width: 1441px) {
    font-size: 35px;
  }
  }
}

// loading component scss

.videowrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color:#fff;

  video {
    width: 190vh;
    height: 100vh;
    object-fit: contain;

    @media (max-width: 1024px) {
      width: 100vw;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 100vw;
      height: auto;
    }

    @media (max-width: 480px) {
      width: 100vw;
      height: auto;
    }
  }
}


// table component

.customtablecontainer {

  margin: 1rem auto;
  max-width: 100%;
  overflow-x:scroll;
   justify-content: center;
  align-items: center;
  margin: 1rem auto;
  max-width: 100%;
  height: 400px; 
  overflow-y: auto; 
  overflow-x: auto; 
  justify-content: center;
  align-items: start;

  @media (min-width: 1024px) {
    height: 600px; 
  }
   @media (min-width: 1440px)
        {
            height: 600px; 
        }
}

.customtable {
  min-width: 650px;
  justify-content: center;
  align-items: center;
   height: 50%;

  th {
    background-color: #000a0a;
    color: #dbbb2c;
    font-weight: bold;
    position: sticky;
  top: 0;
  background-color: #000a0a;
  z-index: 1;
    
    
        font-size: 14px;
        @media (min-width: 480px){
       font-size: 14px;
        }
        @media (min-width:768px){
        font-size: 20px;
        }
        @media (min-width:1024px){
        font-size: 24px;
        }
        @media (min-width: 1440px)
        {
          font-size:26px;
        }
         @media (min-width: 2560px)
        {
          font-size:36px;
        }

  }

  td {
    padding: 8px 12px;
    font-size: 0.95rem;

    @media (min-width: 480px){
       font-size: 0.80rem;
        }
        @media (min-width:768px){
        font-size: 0.90rem;
        }
        @media (min-width:1024px){
        font-size: 0.95rem;
        }
        @media (min-width: 1440px)
        {
          font-size:0.98rem;
        }
        @media (min-width: 2560px)
        {
          font-size:1.98rem;
        }
  }

  .flag {
    width: 34px;
    height: 20px;
    object-fit: cover;
    border-radius: 4px;


  }
}


// converter component scss
.amountLabel{
text-align: center;
  margin-bottom: 2rem;
color: #1a73e8;
font-size: large;
font-weight:bold;
}
.inputAmount{
   width: 20%;
   height: 5%;
   justify-content: center;
}
.inputGroup {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  // padding-top: 2%;
  // padding-bottom: 2%;

   @media (max-width: 480px) {
    flex-direction: column;
   margin: 3%;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    flex-direction: column;
    margin: 6%;
  }

 
  @media (min-width: 768px) and (max-width: 1024px) {
     flex-direction: row;
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
     flex-direction: row;
  }

  @media (min-width: 1441px) {
     flex-direction: row;
  }

  label {
    // font-weight: 600;
    font-size: small;
    justify-content:center;
    
  }

  select,
  input {
    padding-left: 0.75rem;
    padding-top:0.25rem ;
    padding-bottom:0.25rem ;
    // border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    // height: 50px;
      // height:100%;
      // width:30%;


     @media (max-width: 480px) {
   font-size: 1rem;
   padding-left: 0.75rem;
    padding-top:0.25rem ;
    padding-bottom:0.25rem ;
  }

  @media (min-width: 481px) and (max-width: 767px) {
   font-size: 1rem;
   padding-left: 0.75rem;
    padding-top:0.25rem ;
    padding-bottom:0.25rem ;
  }

 
  @media (min-width: 768px) and (max-width: 1024px) {
     font-size: 1rem;
     padding-left: 0.75rem;
    padding-top:0.25rem ;
    padding-bottom:0.25rem ;
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 1rem;
    padding-left: 0.75rem;
    padding-top:0.25rem ;
    padding-bottom:0.25rem ;
  
  }

  @media (min-width: 1441px) {
     font-size: 2rem;
     padding-left: 0.75rem;
    padding-top:0.25rem ;
    padding-bottom:0.25rem ;
  }
  }
 

}


.swapButton {
  margin: 0.5rem;
  border: 2% solid black;
  // border-radius: 2%;
  // transform: rotate(90deg);
  // transition: transform 0.3s ease;

@media (max-width: 480px) {
   transform: rotate(90deg);
   transition: transform 0.3s ease;

  }

  @media (min-width: 481px) and (max-width: 767px) {
  transform: rotate(90deg);
  transition: transform 0.3s ease;

  }

  &:hover {
    transform:  scale(1.2);
  }
}
